.fonte-titulo {
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.texto-vermelho {
    color: #9c0000 !important;
}

.login_card {
    height: 370px;
    width: 380px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* background de ícone de menu com cor clara pra aparecer no menu preto */
.navbar-toggler {
    background-color: #f0f0f0 !important;
}

.card-largura {
    width: 16rem;
}

.card-imagem-posicao {
    height: 200px;
    object-fit: cover;
    object-position: 0 60%;
}

.btn-cor-especial {
    background-color: #bd2130;
    color: white;
}

.btn-cor-especial:hover {
    background-color: #8d0606;
    color: white;
}

.produto-detalhe {
    width: 50%;
    height: 100%;
    min-height: 280px;
    margin: auto;
}

.produto-detalhe .carousel-item {
    height: 100%;
}

.name-detail {
    margin-top: 20px;
    margin-left: 5px;
}

.name-detail h3 {
    font-family: Montserrat,sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.price-detail {
    margin-left: 5px;
}

.price-detail p {
    font-family: Montserrat,sans-serif;
    font-size: 26px;
}

.navbar .nav-link {
    display: unset;
    color: black !important;
}

.navbar form input {
    padding: 0;
    background: none;
    border: none;
    margin: 0;
}

.header {
    font-family: Montserrat,sans-serif;
    background-color: #111 !important;
}

.header .nav-link {
    color: #fff !important;
    font-weight: 300 !important;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 28px;
    padding: 0 10px;
    text-transform: uppercase !important;
}

.header .nav-link:hover {
    color: #898989!important;
}

.header .dropdown-menu {
    left: auto;
    right: 10px;
    padding: 10px;
}

.header .dropdown-menu .nav-link {
    font-size: 14px;
    color: black !important;
}

.header .dropdown-menu .nav-link:hover {
    color: #898989 !important;
}

article.card {
    transition: box-shadow 300ms ease;
}

article.card:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.12);
}

.card-text {
    min-width: 120px;
    display: flex;
}

.btn-padrao {
    width: 130px !important;
}

.title-default {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #000;
}

.cart-text {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}

.cart-label-row {
    padding: 0;
    display: flex;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0em;
}

.cart-label {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    color: #211915;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 15px 10px;
    box-sizing: border-box;
    width: 25%;
    list-style: none;
    text-transform: uppercase;
    background-color: #ededed;
}

.cart-label.__large {
    width: 35%;
}

.cart-label.__small {
    width: 15%;
}

.product-list {
    display: flex;
    border-bottom: 1px solid #D6D6D6;
}

.product {
    display: flex;
    width: 100%;
}
.product__image {
    width: 35%;
    display: flex;
}
.product__image img {
    width: 60px;
}
.product__image p {
    padding: 5px;
    font-size: 14px;
}
.product__image img {
    align-self: center;
}
.product__price {
    padding: 15px 10px;
    width: 15%;
}

.product__ammount {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product__ammount div {
    margin: 10px;
    width: 28px;
    height: 28px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066ff;
    border-radius: 50%;
    cursor: pointer;
}

.product__ammount div:hover {
    background-color: #0045ff;
}

.product__ammount div svg{
    fill: white;
    width: 50%;
}
.product__ammount input {
    max-width: 50px;
    border: none;
    color: grey;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}

.product__total {
    padding: 15px 10px;
    width: 25%;
}

.card-produto {
    width: 190px;
    display: flex;
    flex-direction: column;
    margin: 13px;
    border: 1px solid #999;
    border-radius: 6px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 45%;
    min-width: 80px;
}

.card-body {
    width: 100%;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    margin: 0 !important;
    padding: 5px 10px;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    color: #777;
    font-weight: 700;
}

.product-price {
    padding: 5px 10px;
    width: 100%;
    margin: 0 !important;
    color: #333;
    font-weight: 700;
}

.card-cta {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    background-color: #bd2130;
    border: none;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.card-cta:hover {
    background-color: #8d0606;
}


.carousel-detalhe img {
    width: 50%;
    max-width: 80%;
    max-height: 80%;
}

.obrigatorio {
    color: #ff0000;
    font-size: 15px;
}

.footer {
    background-color: #000;
    color: #898989;
}

footer a {
    text-decoration: none;
    color: #898989;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
}

footer a:hover {
    text-decoration: none;
    color: #898989;
}

@media (max-width: 992px) {
    .navbar .nav-link {
        padding: 0.5em;
    }
    .navbar .user-options {
        flex-direction: column;
    }
}