.imagem-carrossel {
    object-fit: cover; 
    object-position: 0 80%;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Times New Roman'; 
}

.texto-cor-especial {
    color: #8D0606!important;
}

.login_card {
    height: 400px;
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-largura {
    width: 16rem;
}


.card-imagem-posicao {
    height:200px;
    object-fit:cover;
    object-position: 0 60%;
}


.borda-cor-especial {
    border-color: #8D0606;
}

.btn-cor-especial {
    background-color: #8D0606;
    color: white;
}

.produto-detalhe{
    width: 60%;
    height: 90%;
}

.navbar .nav-link {
    display: unset;
    color: black !important;
}

.navbar form input {
    padding: 0;
    background: none;
    border: none;
    margin: 0;
}

.navbar form input:hover {
    color: red;
}

.card-text {
    min-width: 120px;
    display: flex;
    justify-content: space-around;
}

.card-text span {
    color: green;
    font-weight: 500;
}

@media (max-width: 992px){
    .navbar .nav-link {
        padding: .5em;

    }
    .navbar .user-options {
        flex-direction: column;
    }    		 
}

